///
/// Reflex by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Wrapper */

	.wrapper {
		@include padding(5em, 0);

		> .inner {
			width: 72em;
			max-width: 100%;
			margin: 0 auto;

			@include breakpoint(xlarge) {
				width: 64em;
			}

			&.inner__article {
				font-size: 1.1em;
				width: 45em;
				max-width: calc(100% - #{_size(gutter) * 4});

				@include breakpoint(large) {
					// width: _size(inner);
					// font-size: 1em;
					// width: 55em;
					max-width: calc(100% - #{_size(gutter)});
				}

				@include breakpoint(medium) {
					// width: _size(inner);
					font-size: 1em;
					max-width: 100%;
				}

				.article__meta {
					@include vendor('display', 'flex');
					@include vendor('justify-content', 'space-between');

					@include breakpoint(xsmall) {
						display: block;
					}
				}

				.article__contingut {
					img {
						max-width: 100%;
						height: auto;
						margin: 0 0 _size(element-margin) 0;
					}
				}
			}
		}

		&.style1 {
		}

		&.style2 {
			background-color: _palette(bg-alt);
		}

		&.style__foto {
			@include color('invert');
			background-size:		cover, cover;
			background-position:	center, center;
			background-repeat:		repeat, no-repeat;
			background-attachment:	fixed;

			@include breakpoint(medium) {
				background-attachment:	scroll;
			}

			> .inner {
				&.split {
					@include breakpoint(medium) {
						> :first-child {
							border-bottom-color: _palette(invert, border-alt);
						}
					}
				}
			}
		}
		&.style__foto--01 {
			@include vendor('background-image', (
				'linear-gradient(to top, #{transparentize(_palette(invert, bg), 0.3)}, #{transparentize(_palette(invert, bg), 0.3)})',
				'url("../../images/fons01.jpg")'
			));
		}
		&.style__foto--02 {
			@include vendor('background-image', (
				'linear-gradient(to top, #{transparentize(_palette(invert, bg), 0.3)}, #{transparentize(_palette(invert, bg), 0.3)})',
				'url("../../images/fons02.jpg")'
			));
		}

		&.featured {
			text-align: center;

			> .inner {
				@include vendor('display', 'inline-flex');
				@include vendor('flex-direction', 'row');
				@include vendor('align-items', 'center');
				padding: 2em 0;
				width: auto;
				text-align: left;

				> .image {
					display: block;
					margin: 0 (_size(element-margin) * 2) _size(element-margin) 0;
					width: 21em;

					img {
						border-radius: 100%;
						width: 100%;
					}
				}

				> .content {
					h1 {
						font-size: 4em;

						&:before {
							display: none;
						}
					}

					p {
						font-size: 1.5em;
						margin: 0 0 (_size(element-margin) * 0.75) 0;
					}
				}

				@include breakpoint(large) {
					padding: 0;

					> .content {
						h1 {
							font-size: 3.5em;
						}

						p {
							font-size: 1.25em;
						}
					}
				}

				@include breakpoint(medium) {
					display: block;
					text-align: center;

					> .image {
						margin: 0 auto (_size(element-margin) * 1.5) auto;
						width: 18em;
					}

					> .content {
						p {
							margin: 0 0 _size(element-margin) 0;
						}
					}
				}

				@include breakpoint(small) {
					> .image {
						margin: 0 auto (_size(element-margin) * 1.25) auto;
						width: 13em;
					}

					> .content {
						h1 {
							font-size: 2.5em;
						}

						p {
							font-size: 1em;
						}
					}
				}

				@include breakpoint(xxsmall) {
					> .image {
						margin: 0 auto (_size(element-margin) * 1) auto;
						width: 11em;
					}
				}
			}
		}

		&.split {
			> .inner {
				@include vendor('display', 'flex');
				@include vendor('flex-direction', 'row');

				> * {
					width: 50%;
					-ms-flex: 1;
				}

				> :first-child {
					margin-right: _size(element-margin);
				}

				> :last-child {
					margin-left: _size(element-margin);
				}

				@include breakpoint(large) {
					> :first-child {
						margin-right: (_size(element-margin) * 0.75);
					}

					> :last-child {
						margin-left: (_size(element-margin) * 0.75);
					}
				}

				@include breakpoint(medium) {
					display: block;
					text-align: center;

					header {
						h2, h3, h4, h5, h6 {
							&::before {
								margin-left: auto !important;
								margin-right: auto !important;
							}
						}
					}

					> * {
						width: 100%;
					}

					> :first-child {
						margin-right: 0;
						border-bottom: solid 1px _palette(border);
						padding-bottom: _size(element-margin);
						margin-bottom: (_size(element-margin) * 2) !important;
					}

					> :last-child {
						margin-left: 0;
					}
				}
			}
		}

		@include breakpoint(large) {
			@include padding(4em, 2.5em);

			> .inner {
				width: 100%;
			}
		}

		@include breakpoint(small) {
			@include padding(3em, 2em);
		}

		@include breakpoint(xsmall) {
			padding: 2em 1.5em;
		}

		@include breakpoint(xxsmall) {
			padding: 2em .75em;
		}

		footer {
			padding-top: 1em;
			border-top: 1px solid _palette(border);
		}
	}
