///
/// Reflex by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Intro */

	#intro {
		padding: 2em;
		background-color: _palette(border-bg);

		.image {
			@include vendor('transition', 'opacity 0.75s ease-in-out');
			margin-bottom: 0;

			&.logo{
				margin-bottom: 3em;

				@include breakpoint(medium) {
					margin-bottom: 1.5em;
				}

				img {
					max-width: 60%;
					margin: auto;

					@include breakpoint(small) {
						max-width: 100%;
					}
				}
			}
		}

		.content {
			@include vendor('transition', (
				'transform 0.5s ease-in-out',
				'opacity 0.5s ease-in-out'
			));
			@include vendor('transition-delay', '0.35s');
		}
	}

	body.is-loading {
		#intro {
			.image {
				opacity: 0;
			}

			.content {
				@include vendor('transform', 'translateX(0.5em)');
				opacity: 0;

				@include breakpoint(medium) {
					@include vendor('transform', 'translateY(0.35em)');
				}
			}
		}
	}
